.auto-form {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    padding: .125rem;
}

.auto-form > .field,
.auto-form > button {
    margin: .125rem;
    padding: .25rem;
    border-radius: .25rem;
    /* box-shadow: 0 0 .25rem rgba(0, 0, 0, .2); */
}

.auto-form > .field {
    display: flex;
    flex-flow: column nowrap;
    min-width: 2rem;
    flex-shrink: 0;
}

.auto-form > .field.type-VT_BOOL,
.auto-form > .field.type-VT_DATE,
.auto-form > button {
    flex-grow: 1;
}

.auto-form > .field.type-VT_DECIMAL {
    flex-grow: 3;
}

.auto-form > .field.type-VT_STRING,
.auto-form > .field.type-VT_LIST {
    flex-grow: 9;
}

.auto-form > .field > span:first-child {
    display: block;
    height: 1.5em;
    font-size: .9375rem;
}

.auto-form > .field.list {
    display: flex;
    flex-flow: row nowrap;
    min-width: 5em;
    min-height: 2.5em;
}

.auto-form > .field.list > .field-input {
    flex-grow: 1;
    position: relative;
    margin: 0;
    padding: 0;
}

.auto-form > .field.list > .field-input > .union-value-list-edit {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 .25em;
    /* background: #fff; */
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
}

.auto-form > .field.list:hover > .field-input > .union-value-list-edit {
    height: 12em;
    flex-grow: 1;
}

.auto-form > .field.list > .field-input .union-value-list-edit .manipulable-list {
    width: auto;
}

.auto-form > .field.list > .field-input .union-value-list-edit .manipulable-list > .manipulable-item {
    height: 1.3125em;
    line-height: 1.3125em;
}

.auto-form > .field.list > .field-input > .union-value-list-edit > .actions {
    display: none;
}

.auto-form > .field.list:hover > .field-input > .union-value-list-edit > .actions {
    display: block;
}

.auto-form > button {
    padding: 0 .5em;
    min-height: 2em;
    height: auto;
}

/* fix datepicker style issue */
ul.react-datepicker__time-list {
    padding-left: 0;
}

.react-datepicker-popper {
    z-index: 999;
}
