.union-value-list-edit {
    display: flex;
    flex-flow: column;
}

.union-value-list-edit > .manipulable-list {
    flex: 1 0 4em;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fff;
}

.union-value-list-edit > .manipulable-list > .manipulable-item > span.inline-editable.display {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.union-value-list-edit > .actions {
    flex: 0 0 auto;
}
